.hide-xl {
  display: initial;
}

.hide-lg {
  display: initial;
}

.hide-md {
  display: initial;
}

.hide-sm {
  display: initial;
}

.hide-xs {
  display: initial;
}

.show-xl {
  display: none;
}

.show-lg {
  display: none;
}

.show-md {
  display: none;
}

.show-sm {
  display: none;
}

.show-xs {
  display: none;
}

@media (max-width: 1200px) {
  .hide-xl {
    display: none;
  }

  .show-xl {
    display: initial;
  }
}

@media (max-width: 900px) {
  .hide-lg {
    display: none;
  }

  .show-lg {
    display: initial;
  }
}

@media (max-width: 800px) {
  .hide-md {
    display: none;
  }

  .show-md {
    display: initial;
  }
}

@media (max-width: 630px) {
  .hide-sm {
    display: none;
  }

  .show-sm {
    display: initial;
  }
}

@media (max-width: 480px) {
  .hide-xs {
    display: none;
  }

  .show-xs {
    display: initial;
  }
}
